pkgbase = rainlendar-pro
	pkgdesc = A desktop Calendar, ToDo list and Event list
	pkgver = 2.16.1
	pkgrel = 1
	url = http://www.rainlendar.net/
	arch = x86_64
	license = custom
	depends = cairo
	depends = libsm
	depends = expat>=1.95.8
	depends = gtk2>=2.12.0
	depends = openssl
	depends = libcanberra
	provides = rainlendar2
	conflicts = rainlendar-beta
	conflicts = rainlendar-beta-unstable
	conflicts = rainlendar-lite
	source = http://www.rainlendar.net/download/Rainlendar-Pro-2.16.1-amd64.tar.bz2
	sha256sums = f994459ef71fad3e8083ebf4c264d2a88c74ce938f4dfc1d5a65ecdceb65f7ce

pkgname = rainlendar-pro

